# ------------------------------------------------------------------------------#
#----------------------FIRST LEGO LEAGUE 2021 DISCORD BOT-----------------------#
# ------------------------------------------------------------------------------#



#-----------------------------Discord Configuration-----------------------------#
DISCORD_TOKEN=
DISCORD_PREFIX=fll!

#-----------------------------Database Configuration----------------------------#
DISCORD_DB_PATH=